/* Form group padding fixes */
.form-group-padding-fixes
{   padding-left: 15px;
    padding-right: 15px;
}

/* Vertical center */
.center-vertical
{   display: block;
    position: absolute;
    margin: auto;
}

.vertical
{   display: block;
    /*position: absolute;*/
    top: 40%;
}

.paper-list {
	margin: 15px;
}